<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Core" version="9.2.1.533" targetFramework="net461" />
  <package id="DotNetNuke.Web" version="9.2.1.533" targetFramework="net461" />
  <package id="DotNetNuke.Web.Mvc" version="9.2.1.533" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net461" />
</packages>